USE [master]
GO
/****** Object:  Database [ITAssetDB]    Script Date: 7/12/2025 10:17:31 PM ******/
CREATE DATABASE [ITAssetDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITAssetDB', FILENAME = N'C:\Users\zhixi\ITAssetDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITAssetDB_log', FILENAME = N'C:\Users\zhixi\ITAssetDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITAssetDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITAssetDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/12/2025 10:17:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetActivityLogs]    Script Date: 7/12/2025 10:17:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetActivityLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[AssetId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Action] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_AssetActivityLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 7/12/2025 10:17:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[AssignedTo] [uniqueidentifier] NULL,
	[PurchaseDate] [datetime2](7) NOT NULL,
	[WarrantyExpiry] [datetime2](7) NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK_Assets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/12/2025 10:17:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[userName] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[role] [nvarchar](max) NOT NULL,
	[IsTerminated] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251203095839_InitialCreate', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251205132316_FixRoleEnumToString', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251205132414_FixRoleEnumToStrings', N'9.0.11')
GO
INSERT [dbo].[AssetActivityLogs] ([Id], [AssetId], [UserId], [Action], [Timestamp], [Notes]) VALUES (N'df136a91-fac4-4521-924c-0067b92c1e6f', N'5b4b1ff6-6a2e-4c42-88e1-153a232c7d33', N'8cd92760-2ffb-4ca7-8529-d5f9e194688f', N'Update', CAST(N'2025-12-07T03:31:50.5423275' AS DateTime2), NULL)
INSERT [dbo].[AssetActivityLogs] ([Id], [AssetId], [UserId], [Action], [Timestamp], [Notes]) VALUES (N'b6c6bb0f-981f-4014-b884-07db88ee2cdb', N'beb38c79-4dc8-416e-bcf1-d177e1bddf18', N'8cd92760-2ffb-4ca7-8529-d5f9e194688f', N'Update', CAST(N'2025-12-06T17:18:54.2200000' AS DateTime2), N'Lost during business trip')
INSERT [dbo].[AssetActivityLogs] ([Id], [AssetId], [UserId], [Action], [Timestamp], [Notes]) VALUES (N'a9c36728-0f26-4b9f-8539-0bf0c07d46fa', N'beb38c79-4dc8-416e-bcf1-d177e1bddf18', N'8cd92760-2ffb-4ca7-8529-d5f9e194688f', N'Update', CAST(N'2025-12-07T02:26:36.8440181' AS DateTime2), NULL)
GO
INSERT [dbo].[Assets] ([Id], [Name], [Type], [Status], [AssignedTo], [PurchaseDate], [WarrantyExpiry], [Remarks], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'c128ff5e-3392-4ef7-ad88-0fdd23b61268', N'Asus RT-AX88U Router', N'Network Device', N'WarrantyClaim', N'b935e761-e6cc-4a9f-b293-563edc648995', CAST(N'2023-03-18T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-18T00:00:00.0000000' AS DateTime2), N'Sent for warranty replacement', CAST(N'2025-12-05T13:29:29.4833333' AS DateTime2), CAST(N'2025-12-07T09:47:39.4042406' AS DateTime2), 0, NULL)
INSERT [dbo].[Assets] ([Id], [Name], [Type], [Status], [AssignedTo], [PurchaseDate], [WarrantyExpiry], [Remarks], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'a0a344f7-c4da-4e12-8df6-11aa1f503361', N'APC UPS 1500VA', N'Power Backup', N'Disposed', NULL, CAST(N'2018-12-01T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-01T00:00:00.0000000' AS DateTime2), N'Battery fully dead', CAST(N'2025-12-05T13:29:29.4833333' AS DateTime2), CAST(N'2025-12-05T13:29:29.4833333' AS DateTime2), 1, CAST(N'2022-05-30T13:29:29.483' AS DateTime))
INSERT [dbo].[Assets] ([Id], [Name], [Type], [Status], [AssignedTo], [PurchaseDate], [WarrantyExpiry], [Remarks], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'5b4b1ff6-6a2e-4c42-88e1-153a232c7d33', N'Dell 27" UltraSharp', N'Monitor', N'InUse', N'b935e761-e6cc-4a9f-b293-563edc648995', CAST(N'2023-05-15T00:00:00.0000000' AS DateTime2), CAST(N'2026-05-15T00:00:00.0000000' AS DateTime2), N'New monitor in stock', CAST(N'2025-12-05T13:29:29.4833333' AS DateTime2), CAST(N'2025-12-06T19:31:50.5435073' AS DateTime2), 0, NULL)
GO
INSERT [dbo].[Users] ([Id], [userName], [email], [password], [role], [IsTerminated]) VALUES (N'b935e761-e6cc-4a9f-b293-563edc648995', N'user1', N'user11@example.com', N'$2a$11$pdMSK6AQbKwPrNoD70cIfe.C6Kpgxm2VboiSf00GxYNH.liiit6dy', N'User', 0)
INSERT [dbo].[Users] ([Id], [userName], [email], [password], [role], [IsTerminated]) VALUES (N'8caf8bed-39a5-4452-8d80-a35b0f285c25', N'user3', N'user3@gmail.com', N'$2a$11$Bt00ptI72xeFWdSXZVCRoO0Ua8nhm3y2vKYAgdlAEtNpeAvAVdzfS', N'User', 1)
INSERT [dbo].[Users] ([Id], [userName], [email], [password], [role], [IsTerminated]) VALUES (N'e0ad845d-96c2-4bbc-b7fb-bc58c94d1e55', N'User 2', N'user22@gmail.com', N'$2a$11$iYuECzTFy0qxEN0AispB8edj1wvQzNK7qFfXm8/VLHZMVG0s8UQHe', N'User', 0)
GO
/****** Object:  Index [IX_AssetActivityLogs_AssetId]    Script Date: 7/12/2025 10:17:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssetActivityLogs_AssetId] ON [dbo].[AssetActivityLogs]
(
	[AssetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssetActivityLogs_UserId]    Script Date: 7/12/2025 10:17:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssetActivityLogs_UserId] ON [dbo].[AssetActivityLogs]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Assets_AssignedTo]    Script Date: 7/12/2025 10:17:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_Assets_AssignedTo] ON [dbo].[Assets]
(
	[AssignedTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsTerminated]
GO
ALTER TABLE [dbo].[AssetActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_AssetActivityLogs_Assets_AssetId] FOREIGN KEY([AssetId])
REFERENCES [dbo].[Assets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssetActivityLogs] CHECK CONSTRAINT [FK_AssetActivityLogs_Assets_AssetId]
GO
ALTER TABLE [dbo].[AssetActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_AssetActivityLogs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssetActivityLogs] CHECK CONSTRAINT [FK_AssetActivityLogs_Users_UserId]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Users_AssignedTo] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Users_AssignedTo]
GO
USE [master]
GO
