.nav-link {
  color: #fff !important;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: #545454;
  color: #ffffff !important;;
  text-decoration: none;
}

.nav-link.active-link,
.nav-link.active,
.nav-pills .nav-link.active {
  color: #d1d1d1 !important; /* slightly darker gray */
  background-color: #3e3e3e !important; /* darker background */
  font-weight: 500;
  text-decoration: none;
}

.nav-item + .nav-item {
  margin-top: 0.5rem; 
}

.sidebar-link {
  pointer-events: auto; 
  display: flex;
  align-items: center;
}
